<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sam.Properties.Settings.Labo_NAAConnectionString"
            connectionString="Data Source=PC1533;Initial Catalog=Labo_NAA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Sam.Properties.Settings.NAAConnectionString" connectionString="Data Source=PC1597;Initial Catalog=NAA_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>